.cont{
    background-color: black;
    padding: 10px;
}
li{
    display: inline-block;
}
li a{
    color: white;
    text-decoration: none;
    padding: 9px;
}
li a:hover{
    background-color: gray;
}
.li-log {
    float: right;
    border-bottom: 3px solid beige;
}

.li-log a{
    
}


.li-log a:hover{
    background-color: red;
}