ul{
    background-color: brown;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display: inline-block;
    text-decoration: none;
    padding: 16px 14px;
    color: white;
}
li a:hover, .dropDown:hover .dropDown-btn{
    background-color: white;
    color: brown;
}
.dropDown-container{
    position: absolute;
    display: none;
}
.dropDown-container a{
    display: block;
    background-color:brown;
    color: white;
    width: 100px;
}
.dropDown:hover .dropDown-container{
    display: block;
}